# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Geodesy-CSharp/.vs/Geodesy-CSharp/v16/
Geodesy-CSharp/.vs/Geodesy-CSharp/DesignTimeBuild/.dtbcache
Geodesy.API/Dockerfile
.vs/
Geodesy.API/bin/
Geodesy.API/obj/
Geodesy.Library/bin/
Geodesy.Library/obj/
Geodesy.Tests/bin/
Geodesy.Tests/obj/
