# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Geodesy-CSharp/Geodesy-CSharp/obj/
Geodesy-CSharp/Geodesy-CSharp/bin/
Geodesy-CSharp/.vs/Geodesy-CSharp/v16/
Geodesy-CSharp/Geodesy.Library/obj/
Geodesy-CSharp/Geodesy.Tests/bin/Debug/netcoreapp3.1/Geodesy.Tests.deps.json
Geodesy-CSharp/Geodesy.Tests/bin/Debug/netcoreapp3.1/Geodesy.Tests.runtimeconfig.dev.json
Geodesy-CSharp/Geodesy.Tests/bin/
Geodesy-CSharp/Geodesy.Tests/obj/
Geodesy-CSharp/Geodesy.Library/bin/
Geodesy-CSharp/.vs/Geodesy-CSharp/DesignTimeBuild/.dtbcache
Geodesy-CSharp/Geodesy.API/obj/Geodesy.API.csproj.nuget.g.props
Geodesy-CSharp/Geodesy.API/obj/Geodesy.API.csproj.nuget.dgspec.json
Geodesy-CSharp/Geodesy.API/obj/
